@import 'src/scss/_colours';

.App {
  background: $dark-blue;
  color: $white;
  padding-bottom: 30px;
  -webkit-transition: background-color 500ms ease-in-out;
  -ms-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;

  a {
    color: $white;
  }

  &White {
    background: $white;
  }
}


.AppWhite {
  h1, h2, h3, p, div {
    color: $dark-blue;
  }
}
