@import 'src/scss/_colours';
@import 'src/scss/_mixins';

.Home {
  max-width: 1800px;
}

.Home-viewPort {
  height: 100vh;
  max-height: 900px;
}

.Home-header {
  min-height: 19vw;
  padding: 0 15vw;

  @include xs {
    // padding: 0;
    // height: 100vh;
    // max-height: auto;
  }
}

.Home-headerUpper {
  display: flex;
  height: 140px;

  @include xs {
    height: 12vh;
  }

  &-logo {
    color:green;
    flex-grow: 1;

    img {
      width: 140px;
    }

    @include xs {
      transform: translateY(-15px) translateX(-60px);
      // text-align: center;

      img {
        width: 30vw;
      }
    }
  }

  &-phone {
    align-self: center;
    font-weight: 300;
    padding-top: 40px;

    a {
      text-decoration: none;
    }

    @include xs {
      display: none;
    }
  }
}

.Home-headerLower {
  color: $grey;
  font-weight: 300;
  font-size: 1.1em;
  padding-top: 2vw;
  padding-left: 7vw;

  @include xs {
    text-align: center;
    font-size: 1em;
    padding: 0;
    padding-top: 0;
  }
}

.Home-highLevel {
  padding: .8vw 20vw .8vw 23vw;

   h1 {
    font-size: 2.0em;
    font-weight: 400;
    padding-bottom: .7em;

    @include xs {
      font-size: 1.55em;
      padding-bottom: .5em;
      padding-top: 3vh;
    }
  }

  p {
    color: $grey;
    padding-bottom: .4em;

    @include xs {
      font-size: .95em;
      line-height: 1.4em;
      padding-bottom: 0.5em;
    }
  }

  @include xs {
    padding: 7vw 10vw;
  }

  @include sm {
    padding: 14vw 10vw;
  }
}

.Home-gallery {
  padding: 4vw 10vw;
  display: flex;

  @include xs {
    flex-wrap: wrap;
    overflow: hidden;
  }

  .Home-gallery-plannning {
    align-self: center;
    padding-right: 4vw;
    flex-grow: 1;

    img {
      width: 100%;
    }

    @include xs {
      padding-right: 0;
      padding-top: 16vw;
      padding-bottom: 16vw;
    }
  }

  img {
    @include xs {
      width: 100%;
    }
  }

  .Home-gallery-wireframing {
    align-self: center;
    flex-grow: 1;

    img {
      width: 100%;
    }
  }
}

.Home-general {
  margin: 12vw 13vw;

  @include xs {
    margin: 32vw 5vw;
  }

  h1 {
    font-size: 1.6em;
    font-weight: 200;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 4vw;

    @include xs {
      font-size: 1.2em;
    }
  }
}

.Home-contact {
  margin: 2vw 13vw;
  position: relative;
  padding-bottom: 12vw;

  @include xs {
    overflow: hidden;
    margin: 2vw 10vw;
  }

  address {
    font-style: normal;
  }

  &-photo {
    position: absolute;
    top: 9vw;
    left: -0.5vw;
    width: 41vw;

    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.05);

    @include xs {
      position: relative;
      width: 100%;
      left: 0;
      top: 0;
    }
  }

  &-time {
    @include xs {
      padding-bottom: 3vw;
    }


    span {
      color: $grey;
      display: block;
      font-weight: 300;
      font-size: .85em;
    }
  }
}

.Home-contact-person {
  display: flex;
  padding-top: 20px;
}

.Home-contact-personDetails {
  align-self: center;
  padding-left: 20px;

  &-name {
    color: #626262;
    font-weight: 400;
    line-height: 1.7em;
  }

  a {
    font-weight: 300;
    color: #A6A6A6 !important;
    text-decoration: none;
  }
}

.Home-contactCard {
  background: #F2F5F6;
  color: #808080;
  text-transform: none;
  font-style: normal !important;
  display: block;
  margin-left: 30%;
  padding: 3.3vw 3.3vw 3.3vw 30%;

  &-circle {
    border-radius: 50%;
    width: 120px;

    @include xs {
      width: 20vw;
    }
  }

  &-name {
    color: #626262;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.0em;
  }

  @include xs {
    margin-left: 0;
    padding: 6vw 8vw;
    font-size: .9em;
  }

}

.Home-contactCard address p {
  line-height: 1.4em;
  font-weight: 300;
  padding-top: 0;
  margin-top: 5px;
}

.Home-contactCard-telephone {
  a {
    color: #626262 !important;
    font-size: 1.0em;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.8em;
  }
}

.Home-contactCard-officeHours {
  font-weight: 300;
  // padding-top: 15px;
}



.Home-footer {
  font-weight: 400;
  border-top: 1px dotted rgba(255, 255, 255, .2);
  margin: 2vw 13vw;
  font-size: .95em;
  padding-top: 1vw;
  padding-bottom: 1.5vw;

  @include xs {
    margin: 2vw 10vw;
    padding-right: 15vw;
    padding-bottom: 5vw;
    font-size: .8em;
  }

  &-smallPrint {
    color: $grey;
    font-weight: 300;
    font-size: .9em;
  }
}
